body {
	height: 100vh;
	text-align: center;
	padding: 50px 50px 200px 50px;
	background-color: black;
}

h1 {
    font-family: 'Roboto Mono', monospace;
	font-variation-settings: 'wght' 100;
    font-size: 100px;
	color: white;
    animation: variable 5000ms infinite both;
}

@keyframes variable {
	0% {
		font-variation-settings: 'wght' 100;
	}
	50% {
		font-variation-settings: 'wght' 700;
	}
	100% {
		font-variation-settings: 'wght' 100;
	}
}