@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('RobotoMono-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 100 700;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 100px;
    animation: variable 100ms infinite both;
}

@keyframes variable {
	0% {
		font-weight: 100;
	}
	50% {
		font-weight: 700;
	}
	100% {
		font-weight: 100;
	}
}